.button--load{
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #f2d022;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  position: absolute;
  z-index: 2;
  box-shadow: 0px 5px 15px rgba($color: #000000, $alpha: .1);
  cursor: pointer;
}
.image--load{
  display: none;
}
.photoframe{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: 240px;
  min-height: 240px;
  border: 5px dotted #eee;
  overflow: hidden;
  border-radius: 10%;
  &__image{
    z-index: -1;
    border-radius: 5px;
    min-width: 240px;
  }
  &__layer{
    z-index: 1;
    background-color: #000;
    opacity: .1;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
.card {
  display: flex;
  padding: 15px 0px;
  transition: 1s;
  position: relative;
  &__photo{
    // display: flex;
    // align-items: center;
  }
  &__input {
    width: 100%;
    padding-left: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__remove {
    // background: #d90404;
    border-radius: 5px;
    text-decoration: none;
    // padding: 15px;
    text-transform: uppercase;
    font-size: 12px;
    margin-left: 15px;
    color: #d90404;
    // position: absolute;
    top: 0;
    height: 30px;
    width: 30px;
    text-align: center;
    right: -30px;
  }
  .input {
    &:last-child{
      margin-bottom: 0;
    }
    &--title {
      font-family: "Lobster", cursive;
    }
    margin-bottom: 15px;
    border: 1px solid #eee;
    padding: 10px 15px;
    border-radius: 5px;
    &::placeholder {
      font-family: "PT Sans";
      font-style: italic;
      color: #999;
    }

    &--description {
      border: 0px;
      height: 100%;
      resize: vertical;
      border: 1px solid #eee;
      border-radius: 5px;
      padding: 10px 15px;
      &::placeholder {
        color: #999;
        font-style: italic;
      }
    }
  }
}
.form {
  width: 100%;
  &__add {
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    padding: 15px 20px;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #f2d022;
    color: #212121;
    font-weight: 700;
    display: block;
    width: 100%;
    transition: 0.2s;
    margin-bottom: 15px;
    &:hover {
      background-color: #f2d022 * 1.1;
    }
    &:focus {
      outline: none;
    }
  }
  &__submit{
    display: block;
    width: 100%;
    background: #618c03 * 1.3;
    border: none;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 15px;
    padding: 15px 20px;
    transition: .2s;
    &:hover{
      background: #618c03 * 1.5;
    }
  }
}