.error {
  //font-family: "Consolas" sans-serif;
}
.order{
  &--wrapper{
    min-width: 400px;
  }
}
.menu {
  margin-right: 20px;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    margin: 20px 0;
    display: inline-block;
    max-width: 80%;
    font-family: "Lobster", sans-serif;
    color: #212121;
    margin-top: 0;
  }
  &__item {
    margin: 15px;
    max-width: 100%;
    margin-top: 15px;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 0.1);
  }
  &__image {
    img {
      padding: 0;
      margin: 0;
      min-width: 100%;
      max-width: 100%;
      border-radius: 5px;
      box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.2);
    }
  }
  &__price {
    margin: 20px 0;
    margin-top: 0;
    float: right;
    display: inline-block;
    text-align: right;
    font-weight: 700;
    font-size: 24px;
    color: #999;
  }
  &__button {
    margin-top: 20px;
    display: block;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.2);
    padding: 20px 25px;
    background: linear-gradient(90deg, #f2d022, #d90404, #f2d022) no-repeat;
    background-size: 2100px;
    background-position-x: -700px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    &:hover {
      //background-color: #D93D1A * 1.3;
      background-position-x: -1400px;
    }
  }
}
