.wrapper {
  position: sticky;
  top: 90px;
  min-width: 400px;
  min-height: 1px;
  max-height: 300px;
}
.order {
  &__wrapper{
    width: 400px;
    height: 300px;
    overflow-y: auto;
  }
  &__main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  position: absolute;
  display: flex;
  flex-direction: column;
  font-family: 'Courier New', Courier, monospace;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 5px 15px rgba($color: #000000, $alpha: 0.1);
  &--checkout{
    width: 100%;
    position: relative;
  }
  &__item {
    border-bottom: 1px dotted #eee;
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 15px;
    transition: .2s;
    &:hover{
      border-bottom: 1px dotted #618c03;
    }
  }
  &__total {
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 0;
    text-align: right;
    color: #999;
  }
  &__title{
    span {
      color: #999
    }
  }
  &__price {
    right: 0;
    font-size: 14px;
    padding-left: 15px;
    margin-left: auto;
    &--multiplier {
      color: #999;
      font-size: 14px;
    }
  }
  &__delete{
    display: inline-block;
    width: 30px;
    height: 100%;
  }
  &__button {
    margin-top: 20px;
    display: block;
    text-align: center;
    padding: 20px;
    background: linear-gradient(90deg, #f2d022, #618c03 * 1.2, #f2d022);
    border-radius: 5px;
    background-size: 1200px;
    background-position-x: -400px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    transition: 0.3s;
    &:hover {
      background-position-x: -1000px;
    }
  }
}
